<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!-- DB -->
  <bean id="accesoOracleLocalImpl"
        class="com.junior.conexion.AccesoOracleDB">

    <property name="puerto">
      <value>1521</value>
    </property>

    <property name="usuario">
      <value>DBSEGSYL</value>
    </property>

    <property name="password">
      <value>DBSEGSYL</value>
    </property>

    <property name="host">
      <value>127.0.0.1</value>
    </property>
  </bean>

  <!-- DAO -->
  <bean id="asignaturaAperturadaDaoImpl"
        class="com.junior.dao.component.AsignaturaAperturadaDao">
    <property name="db">
      <ref local="accesoOracleLocalImpl"/>
    </property>
  </bean>

  <!-- Parser -->
  <bean id="temaParserImpl"
        class="com.junior.parser.TemaJsonParser"></bean>

  <bean id="biblioParserImpl"
        class="com.junior.parser.BibliografiaJsonParser"></bean>

  <!-- Controller -->
  <bean id="syllabusController" class="com.junior.controller.SyllabusController">
    <property name="asignaturaAperturadaDao">
      <ref local="asignaturaAperturadaDaoImpl"/>
    </property>

    <property name="temaParser">
      <ref local="temaParserImpl"/>
    </property>

    <property name="biblioParser">
      <ref local="biblioParserImpl"/>
    </property>
  </bean>

</beans>
