<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  
  <bean id="asignaturaAperturadaDaoImpl" class="com.junior.dao.component.AsignaturaAperturadaDao"/>
  
  <bean id="syllabusController" class="com.junior.controller.SyllabusController">
    <property name="asignaturaAperturadaDao">
      <ref local="asignaturaAperturadaDaoImpl"/>
    </property>
  </bean>

</beans>
