<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

  <http>
    <intercept-url pattern="/grupos/index" access="ROLE_USER"/>
    <intercept-url pattern="/asignaturas_del_ciclo/index" access="ROLE_COORDINADOR"/>
    <intercept-url pattern="/asignatura/{asignaturaAperturadaId}/avance/*" access="ROLE_DOCENTE"/>
    <intercept-url pattern="/asignatura/{asignaturaAperturadaId}/syllabus/*" access="ROLE_COORDINADOR"/>
    <intercept-url pattern="/grupo/{grupoId}/valida" access="ROLE_ALUMNO"/>

    <form-login 
      login-page="/" 
      default-target-url="/grupos/index" 
      authentication-failure-url="/"
      username-parameter="username"
      password-parameter="password"
      />
    <csrf/>
    <logout logout-success-url="/"></logout>
  </http>

  <authentication-manager>
    <authentication-provider user-service-ref="usuarioSecurity"/>
  </authentication-manager>
  
  <beans:bean id="usuarioSecurity" class="com.junior.dao.component.UsuarioDao"/>
  
</beans:beans>
